@charset "UTF-8";

body{
    background-color: rgb(177, 228, 211);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(24, 109, 81);
    font-size: 25px;
    text-align: center;
    background-color: rgb(184, 191, 197);
}
h1#principal{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 35px;
    background-color: rgb(178, 189, 199);
    color: rgb(66, 63, 63);
    
}
.básico{
    color: rgb(177, 60, 56);
    background-color: azure;
}
.intermediário{
    color: blue;
    background-color: azure;
}
.avançado{
    color: blueviolet;
    background-color: azure;
}

    
