@charset "UTF-8";

* {
 font-family: Arial, Helvetica, sans-serif;}
 body{ 
    background-image: linear-gradient(to left,#aa7ff8,#3fb0cc);
 }
 main{
    background-color: rgb(222, 224, 226);
    width: 550px;
    border-radius: 10px;
    box-shadow:5px 5px 15px #131066b0;
    padding: 10px; 
    margin: auto;
 }
 h1{
    text-align: center;
    color:#3d37eb ;
 }
 h2{
    color: #8747FE;
 }
 p{
    text-align: justify;
 }